.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-top: -5vh;

  padding-top: 100px;
  padding-bottom: 70px;
  padding-left: 5vw;
  padding-right: 5vw;

  text-align: left;

  /*background-image: url("../assets/background.jpg");*/
  background-color: #f7f2ee;
  background-position: top;
  background-size: cover;
  /*filter: drop-shadow(0 16px 10px black);*/
}

.mockup {
  position: relative;
  margin-top: -10vw;
  margin-bottom: 30px;
  width: 95vw;
  height: 400px;
  object-fit: contain;
}

.header2 {
  font-family: 'Libre Baskerville', serif;
  font-size: calc( 2.5vh + 0.83vw);
  color: #BE884B;
  color: #323232;
}

.pointsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: top;
  width: 100%;
  max-width: 1500px;
}

.point {
  margin-bottom: 30px;
  text-align: center;
}

.header3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: #323232;
  color: #BE884B;
}

.bodyText {
  margin-top: 0;
  max-width: 500px;
  padding: 0 15px;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-align: justify;
}

.link {
  color: #4999ab;
}

.illustration {
  width: 300px;
  height: 150px;
}

/* MOBILE */
@media only screen and (max-width: 955px) {
  .container {
    margin-top: -20vh;
    padding-bottom: 25px;
    text-align: center;
  }
  .mockup {
    height: auto;
  }
  .bodyText {
    font-size: 18px;
  }
  .header2 {
    font-size: 27px;
  }
}
