.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;


  padding-top: 100px;
  padding-bottom: 70px;
  padding-left: 5vw;
  padding-right: 5vw;

  min-height: 100vh;

  text-align: left;

  /*background-image: url("../assets/background.jpg");*/
  background-color: #f7f2ee;
  background-position: top;
  background-size: cover;
  /*filter: drop-shadow(0 16px 10px black);*/
}

.header2 {
  font-family: 'Libre Baskerville', serif;
  font-size: calc( 2.5vh + 0.83vw);
  color: #BE884B;
}

.bodyText {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}

.email {
  color: #4999AB;
}
.email:hover {
  text-decoration: underline;
}

.contactsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  margin-top: 5vh;
  margin-bottom: 5vh;

  min-width: 50vw;
  min-height: 50vh;
}

.contactPerson {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 300px;
}

.headshot {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 30%;
  background: #323232;
}

.personName {
  margin-top: 30px;
  margin-bottom: 5px;
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
}

.personEmail {
  color: #4999AB;
  font-size: 20px;
}
.personEmail:hover {
  text-decoration: underline;
}

.bio {
  text-align: justify;
}

/* MOBILE */
@media only screen and (max-width: 955px) {
  .container {
    text-align: center;
  }
  .bodyText {
    font-size: 20px;
  }
  .header2 {
    font-size: 27px;
  }
}
