.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  min-height: 50px;
  background-color: #323232;

  color: white;

  padding: 10px;
}

.item {
  padding: 5px 15px;
}

.item:hover {
  text-decoration: underline;
  cursor: pointer;
}
