.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /*background-image: url("../assets/background.jpg");*/
  background: url('../public/assets/background.jpg');

  background-position: bottom;
  background-size: cover;

  position: relative;

  overflow: hidden;
}

.bottomDiagonal {
  position: absolute;
  z-index: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /*transform: rotate(-20deg) translateY(17vw);*/
  transform: translateY(14vw) scaleX(-1);
  height: 115%;
}

.divider {
  /*transform: rotate(-30deg);*/
  width: 170vw;
  min-width: 1000px;
  height: 20vw;
}

.dividerBackground {
  margin-top: -1px;
  height: 60vh;
  background: #f7f2ee;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  padding-top: 10vh;
  height: 100%;
  width: 100%;
}

.descriptionContainer > span {
  margin-top: 5vw;
  color: black;
  font-size: calc( 1.5vh + 0.5vw + 12px);
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #f7f2ee;

}

.descriptionFirst {
  font-weight: bold;
}

.logosContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main {
  padding: 5vh 5vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  position: relative;
  z-index: 2;
}

.title {
  margin: 5vh 0;
  line-height: 1;
  font-size: calc(6vh + 2vw);
  color: #4999AB;
  font-family: 'Libre Baskerville', serif;
}

.title,
.tagline {
  text-align: right;
}

.tagline {
  line-height: 1;
  font-size: calc( 2vh + 0.67vw);
  margin: 0 0;
  font-family: 'Libre Baskerville', serif;
}

/* MOBILE */
@media only screen and (max-width: 955px) {
  .bottomDiagonal {
    transform: rotate(-20deg) translateY(17vw);
  }
  .descriptionContainer {
    padding-top: 15vh;
    padding-left: 5px;
    padding-right: 5px;
  }
  .main {
    padding: 10vh 5vw;
  }
  .title {
    font-size: 70px;
    padding-bottom: 5vh;
  }
  .tagline {
    font-size: 25px;
  }
}
