.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /*background-image: url("../assets/background.jpg");*/
  background: url('../assets/background.jpg');
  background-position: top;
  background-size: cover;
}

.bottomDiagonal {
  position: fixed;
  z-index: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: rotate(-25deg) translateY(17vw);
  height: 120%;
}

.divider {
  /*transform: rotate(-30deg);*/
  width: 150vw;
  min-width: 1000px;
  height: 25vw;
}

.dividerBackground {
  margin-top: -1px;
  height: 60vh;
  background: #f7f2ee;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  padding-top: 15vh;
  height: 100%;
  width: 100%;
}

.descriptionContainer > span {
  margin-top: 5vw;
  color: black;
  font-size: calc( 1.5vh + 0.5vw + 12px);
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.main {
  padding: 10vh 5vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  position: relative;
  z-index: 2;
}

.title {
  margin: 5vh 0;
  line-height: 1;
  font-size: calc(6vh + 2vw);
  color: #4999AB;
  font-family: 'Libre Baskerville', serif;
}

.title,
.tagline {
  text-align: right;
}

.tagline {
  line-height: 1;
  font-size: calc( 2.5vh + 0.83vw);
  margin: 0 0;
  font-family: 'Raleway', sans-serif;
}

/* MOBILE */
@media only screen and (max-width: 955px) {
  .title {
    font-size: 70px;
  }
  .tagline {
    font-size: 30px;
  }
}
