.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 10px;
  padding-left: 8px;
  padding-right: 8px;

  min-width: 50%;
  max-width: 95%;

  position: fixed;
  z-index: 5;
  height: 60px;
  /*background: rgba(240, 240, 240, 0.9);*/
  background: rgba(255, 255, 255, 0.98);
  background: rgba(255, 252, 250, 0.98);

  border-radius: 10px;
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 2.5%;
}

.link {
  font-size: 23px;;
  text-align: center;
  width: 10rem;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  color: #323232;
  transition-timing-function: ease-in-out;
  transition: color 0.2s;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}

.container > button {
  margin-right: 0;
  height: 45px;
  width: 300px;
  background-color: #4999AB;
  color: white;
  border-radius: 10px;
  border-width: 0;
}

.menuButton {
  margin-bottom: -6px;
  display: none;
  position: relative;
  z-index: 2;
}

.mobileMenu, .activeMobileMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 50% 0;

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background-color: rgba( 255, 255, 255, 0.97);

  transition-timing-function: ease-in-out;
  transition: visibility 0.2s, opacity 0.2s;
  visibility: hidden;
  opacity: 0;
}

.activeMobileMenu {
  visibility: visible;
  opacity: 1;
}

/* MOBILE */
@media only screen and (max-width: 955px) {
  .menuButton {
    display: block;
    margin-left: -5px;
  }
  .container {
    justify-content: space-between;
    width: 100%;
  }
  .links {
    display: none;
  }
  .link {
    width: auto;
  }
}
