.container {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /*padding-top: 100px;*/
  padding-left: 5vw;
  padding-right: 5vw;

  background-color: #f7f2ee;
  background: url('../public/assets/wall-tablet.png');
  background: linear-gradient( rgba(14, 10, 7, 0.3), rgba(14, 10, 7, 0.3) ), url('../public/assets/wall-tablet.png');

  background-position: top;
  background-size: cover;
  filter: drop-shadow(0 0 0 #fff);
  box-shadow: inset 0 0 15px #0E0A07;
}

.title {
  margin-top: -50px;
  display: none;
  padding-bottom: 15px;
  font-family: 'Libre Baskerville', serif;
  font-size: 27px;
}

.header2 {
  font-family: 'Libre Baskerville', serif;
}

.bodyText {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}

.pricingContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  position: relative;
  z-index: 2;

  min-height: 250px;
  /*background-color: #f7f2ee;*/
  background: rgba(235, 235, 235, 0.95);
  border-radius: 10px;
}

.pricingCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 15px;
  padding: 15px;
  height: 300px;
  width: 270px;
  border-radius: 10px;
  background: #f7f2ee;
}

.planTitle {
  font-family: 'Libre Baskerville', serif;
  margin: 0;
}
.planPeriod {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: grey;
  text-align: right !important;
}
.planPrice {
  margin-bottom: 30px;
  font-family: 'Libre Baskerville', serif;
  font-size: 24px;
  text-align: left;
}
.feature {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 15px;
}
.planButton {
  margin-top: 15px;
  height: 40px;
  font-size: 20px;
  font-family: 'Libre Baskerville', serif;
  background-color: #323232;
  color: white;
  border-radius: 10px;
  border-width: 0;
  cursor: pointer;

  transition-timing-function: ease-in-out;
  transition: transform 0.2s;
}
.planButton:hover {
  transform: scale(1.05);
}

/* MOBILE */
@media only screen and (max-width: 955px) {
  .container {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
  }
  .title {
    display: block;
  }
  .bodyText {
    font-size: 20px;
  }
  .pricingContainer {
    background-color: transparent;
  }
  .pricingCard {
    height: 300px;
    transform: scale(1) !important;
  }
}
