.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-top: 15vh;
  padding-left: 5vw;
  padding-right: 5vw;

  min-height: 100vh;

  /*background-image: url("../assets/background.jpg");*/
  background-color: #f7f2ee;
  background-position: top;
  background-size: cover;
}

.header2 {
  font-family: 'Libre Baskerville', serif;
  font-size: calc( 2.5vh + 0.83vw);
  color: #BE884B;
}

.bodyText {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  max-width: 750px;
  text-align: justify;
}

.smallerBodyText {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  max-width: 750px;
  text-align: center;
}

.separator {
  height: 5vh;
}

.waitlistContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input {
  padding-left: 15px;

  width: 400px;
  max-width: 100%;
  height: 50px;

  font-size: 18px;

  border-style: solid;
  border-radius: 10px;
  border-color: #e0e0e0;
}

.button {
  margin: 15px;
  height: 50px;
  width: 200px;
  font-size: 20px;
  font-family: 'Libre Baskerville', serif;
  background-color: #4999AB;
  color: white;
  border-radius: 10px;
  border-width: 0;
  cursor: pointer;
}

/* MOBILE */
@media only screen and (max-width: 955px) {
  .container {
    text-align: center;
  }
  .bodyText {
    font-size: 20px;
  }
  .header2 {
    font-size: 27px;
  }
  .input {
    font-size: 15px;
  }
}
